.myDialog{
    //-fx-background-color: #1ab2ff;
    -fx-background-color: linear-gradient(to bottom, #80b3ff 30%, #ccf2ff 100%);
}
.myDialog > *.button-bar > *.container{
   // -fx-background-color: #a9e200;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-focus-color: black; /* Focus Color Change button */
}
.myDialog>*.button{
    -fx-background-color: aquamarine;
    -fx-font-size: 20;
    /* -fx-font-style: bold;*/

}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    //
    -fx-background-color: linear-gradient(to bottom, #ffffff 30%, #ccffdd 100%);
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    /* -fx-font-style: italic;*/
    -fx-fill: #292929;

}
.myDialog2{
    -fx-background-color: #ffff80;
}
.myDialog2 > *.button-bar > *.container{
    -fx-background-color: #a9e200;

}
.myDialog2>*.button{
    -fx-background-color: #66ffff;

}
.myDialog2 > *.label.content{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.myDialog2:header *.header-panel{
    /*-fx-background-color: #a59c31;*/
}
.myDialog2:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;

}
.myDialog3{
    -fx-background-color: white;
}
.myDialog3 > *.button-bar > *.container{
    -fx-background-color: #1ab2ff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-focus-color: black; /* Focus Color Change button */
}
.myDialog3>*.button{
    -fx-background-color: aquamarine;
    -fx-font-size: 20;

}
.myDialog3 > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog3:header *.header-panel{
    -fx-background-color: #a59c31;
}
.myDialog3:header *.header-panel *.label{
    -fx-font-size: 18px;
    /* -fx-font-style: italic;*/
    -fx-fill: #292929;

}
.myCustomAlert{
    -fx-background-color: #ff4d4d;
}
.myCustomAlert > *.button-bar > *.container{
    -fx-background-color: #ff6666;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-focus-color: black; /* Focus Color Change button */
}
.myCustomAlert >*.button{
    /*-fx-background-color: aquamarine;*/
    -fx-font-size: 20;

}
.myCustomAlert > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myCustomAlert:header *.header-panel{
    /*-fx-background-color: #a59c31;*/
}
.myCustomAlert:header *.header-panel *.label{
    -fx-font-size: 18px;
    /* -fx-font-style: italic;*/
    -fx-fill: #292929;
}